.profile {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-bottom: 8rem;
}

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid  var(--primary-lighter);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    transition: var(--transition);
}

.profile-img:hover{
    transform: scale(1.03);
    box-shadow: var(--hover-shadow);
}

.profile-info {
    flex: 1;
}

.profile-info h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    background: var(--primary-lighter);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.profile-info p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    color: var(--card);
}

@media (max-width: 768px) {
    .profile {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        padding-top: 0px; /* Space for fixed nav */
        margin-bottom: 13rem;

    }

    .profile-info {
        padding: 0 1rem;
    }

    .profile-info h1 {
        font-size: 2.2rem;
        line-height: 1.2;
        margin-bottom: 0.8rem;
    }

    .profile-info p {
        font-size: 1.1rem;
        margin-bottom: 1.2rem;
    }
}

@media (max-width: 480px) {
    .profile {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        padding-top: 0px;
    }

    .profile-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        border: 4px solid  var(--primary-lighter);
        box-shadow: var(--box-shadow);
        position: relative;
        overflow: hidden;
        transition: var(--transition);
    }
    .profile-info {
        padding: 0 1rem;
    }

    .profile-info h1 {
        font-size: 2.2rem;
        line-height: 1.2;
        margin-bottom: 0.8rem;
    }

    .profile-info p {
        font-size: 1.1rem;
        margin-bottom: 1.2rem;
    }
}